<div class="alert alert-info" *ngIf="!pais; else divPais">
  Espere Por favor...
</div>

<ng-template #divPais>
  <div class="row">
    <div class="col-12">
      <h1>Pais : <small>{{pais.name}}</small></h1>
    </div>
</div>
  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="pais.flag" style="width:30px;"alt="" class="img-thumbnail">
    </div>
    <div class="col">
      <h3>Informacion</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Poblacion {{pais.population}}</strong>
        </li>
        <li class="list-group-item">
          <strong>Codigo Numerico {{pais.numericCode}}</strong>
        </li>
        <li class="list-group-item">
          <strong>Codigo Alpha {{pais.alpha3Code}}</strong>
        </li>
      </ul>

    </div>
  </div>
  <h2>Traducciones</h2>
  <div class="row">
    <div class="col">
      <span class="badge bg-primary mr-1">{{pais.translations.de}}</span>
      <span class="badge bg-primary mr-1">{{pais.translations.es}}</span>
      <span class="badge bg-primary mr-1">{{pais.translations.fr}}</span>
      <span class="badge bg-primary mr-1">{{pais.translations.ja}}</span>
      <span class="badge bg-primary mr-1">{{pais.translations.pt}}</span>
      <span class="badge bg-primary mr-1">{{pais.translations.fa}}</span>
    </div>
  </div>

</ng-template>

