<h3>Buscar Por Región</h3> <small>{{regionActiva | titlecase}}</small>
<hr>
<h5>Seleccione la region</h5>
<div class="row">
  <div class="col">
    <Button *ngFor="let region of regiones" class="btn btn-outline-success"
      [ngClass]="{'btn-primary': regionActiva === region}"
    (click)="activarRegion(region)"

    >
      {{region}}
    </Button>
  </div>
</div>

<div *ngIf="" class="alert alert-danger">
  No se encontro nada con la busqueda
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
